// @import "../vars/colors";

.form {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn__form {
    border: 1px solid $border-color;
    padding: 10px 30px;
}

.btn__edit-apply {
    font-size: .7em;
}

.form__input {
    width: 100%;
    border-bottom: 1px solid $border-color;
}

.task__form-edit {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(255, 255, 255, .1);
    justify-content: start;
    align-items: center;
    font-size: inherit;


    &-text {
        width: 100%;
        text-indent: 20px;
    }

    &.visible {
        display: flex;
    }

}