.todo {
    background: url(../assets/img/bgBody.webp) no-repeat center bottom, #333;
    color: $main-text-color;
    font-size: 1.5em;


    &-overlay {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        min-height: 300px;
        padding: 20px;
        background-color: rgba(0, 0, 0, .9);
    }

    &-tasks {
        flex: 4 auto;


    }

    &-form {
        padding-top: 50px;
        flex: 1 auto;

    }
}

.complite {
    text-decoration: line-through;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    transition: .5s ease-in-out;

    &__value {
        flex: 3;
        // background-color: #fff;
        min-width: 200px;
        height: auto;
        resize: none;
        overflow: hidden;

    }

    &:hover {
        background-color: rgba(255, 255, 255, .3);
    }




    &__controls {
        display: flex;
        gap: 0px;
        background-color: rgba(0, 0, 0, .5);
        padding: 10px 0;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        transform: translateY(100%);
        opacity: 0;
        height: 0;
        animation: controlsHiddeAnimate .5s ease-in-out forwards;
    }

    &:hover &__controls {
        animation: controlsVisibleAnimate .5s ease-in-out forwards;

    }
}

@keyframes controlsVisibleAnimate {
    from {
        display: none;
        z-index: -1;
        height: 0px;
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        display: flex;
        z-index: 2;
        height: 100%;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes controlsHiddeAnimate {
    from {
        z-index: 2;
        display: flex;
        height: 100%;
        transform: translateY(0);
        opacity: 1;
    }

    to {
        display: none;
        z-index: -1;
        height: 0px;
        transform: translateY(100%);
        opacity: 0;
    }

}

.svg {
    height: 100%;

    &-checkMark {
        fill: transparent;
        stroke: $active-text-color;
        stroke-width: 20px;

        &.active {
            fill: $main-text-color;
            stroke: $main-text-color;
            stroke-width: 20px;
        }
    }
}